.Person{
    width: 60%;
    margin: auto;
    border-color: 2px solid #eee;
    box-shadow: 0px 2px 2px #ccc;
    padding: 20px;
}
.button {
    background: transparent;
    border-radius: 3px;
    border: 2px solid palevioletred;
    color: palevioletred;
    margin: 0 1em;
    padding: 0.25em 1em;
}

@media (max-width: 500px) {
    .divStyled {
        width:100px;
    }
    .button{
        color: black;
    }
}   
